<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dog.lduser.mapper.RuleMapper">

    <resultMap id="BaseResultMap" type="org.dog.lduser.po.Rule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
            <result property="maxJoinNumber" column="max_join_number" jdbcType="INTEGER"/>
            <result property="maxWinningNumber" column="max_winning_number" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,rule_name,max_join_number,
        max_winning_number,create_time,creator,
        update_time,updater
    </sql>
</mapper>
